
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotras</h5>
        <h3>Nacimos para respaldar e inspirar </h3>
        <p>Cuando una niña ya no necesita una prenda de vestir, en lugar de desecharla, puede darle una segunda vida y hacer que otra niña la use y disfrute. La reutilización de ropa es una excelente manera de reducir la cantidad de residuos que producimos y de fomentar la sostenibilidad.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/natalia-bebe.png" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/natalia-princesa.png" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p> En resumen, usar ropa que ya no usan otras niñas es una forma sencilla y efectiva de cuidar el planeta y ayudar a quienes lo necesitan.</p>
        </blockquote>
        <figure><small>Gracias</small>
          <h4>Fundadora y CEO</h4>
          <p>Quiero aprovechar este espacio para agradecer a todas las chicas que visitan nuestra página y muestran interés en la reutilización de ropa. Cada pequeña acción que hacemos puede tener un gran impacto en el mundo que nos rodea, y la reutilización de ropa es una forma sencilla y efectiva de contribuir a un futuro más sostenible. Al usar ropa que ya no se usa, podemos ayudar a reducir la cantidad de residuos y darle una segunda vida a prendas que aún pueden ser útiles. Gracias por unirse a nuestra comunidad y por ser parte del cambio hacia un mundo más sostenible.</p>
        </figure>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Quiero destacar que en nuestra página, promovemos la reutilización de ropa en perfectas condiciones.</h3>
        <p>Aunque nuestros productos son usados, nos aseguramos de que estén en excelente estado, sin ningún tipo de defecto o daño. Cada prenda de vestir que ofrecemos ha sido cuidadosamente seleccionada y revisada para garantizar que esté en óptimas condiciones. Así, puedes estar segura de que al adquirir una prenda en nuestra página, estarás obteniendo un artículo de calidad a un precio asequible, al mismo tiempo que contribuyes al cuidado del medio ambiente. ¡Te invitamos a explorar nuestra selección de prendas reutilizadas y encontrar algo que te encante!.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/natalia-colores.png" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/natalia-new.png" alt=""></div>
      <div class="ps-section__right">

        <figure><small>IMAGEN DE MARCA</small>
          <h3 style="font-size: 48px !important;"> la moda en niñas es importante porque les permite expresarse y desarrollar su propia identidad.</h3>
          <p> La ropa que usamos puede ser una forma de mostrar nuestro estilo personal, intereses y personalidad. Además, la moda puede influir en la confianza en uno mismo y en cómo nos presentamos al mundo. Por eso, es importante permitir que las niñas exploren su propio sentido de la moda y encuentren prendas que les hagan sentir cómodas y seguras de sí mismas. Al mismo tiempo, también podemos fomentar en ellas la importancia de la sostenibilidad y la reutilización de ropa, para que puedan expresar su estilo personal de manera consciente y responsable. En nuestra página, queremos ofrecer opciones de moda sostenible y reutilizada para niñas, para que puedan sentirse seguras y a la moda al mismo tiempo que cuidan del medio ambiente.</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>